.login-form {
  max-width: 400px;
  margin: 10rem auto;
  padding:7rem 5rem;
  background-color: #dedfe2;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input[type='email'],
.login-form input[type='password'],
.login-form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.login-form button {
  background-color: #1f2937;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #60a5fa;
}

.login-form p {
  text-align: center;
  margin-top: 1rem;
}

.login-form p a {
  color: #60a5fa;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}
