:root {
  --light-home-bg: #f0f0f0;
  --light-text-color: #1a202c;
  --light-paragraph-color: #718096;
  --light-info-bg: #ffffff;
  --light-border-color: #cbd5e0;
  --light-heading-color: #2d3748;
  --light-info-text-color: #4a5568;

  --dark-home-bg: #2c3e50;
  --dark-text-color: #f0f0f0;
  --dark-paragraph-color: #9e9ea4;
  --dark-info-bg: #4a5568;
  --dark-border-color: #4a5568;
  --dark-heading-color: #f0f0f0;
  --dark-info-text-color: #f0f0f0;

  --light-bg-color: var(--light-info-bg);
  --light-content-bg: var(--light-home-bg);
  --light-main-content-bg: var(--light-home-bg);
  --light-main-content-color: var(--light-text-color);

  --dark-bg-color: var(--dark-home-bg);
  --dark-content-bg: var(--dark-info-bg);
  --dark-main-content-bg: var(--dark-info-bg);
  --dark-main-content-color: var(--dark-text-color);

  --button-dark-bg-color: #1f2937;
  --button-light-bg-color: #60a5fa;
  --button-hover-dark-bg-color: #60a5fa;
  --button-hover-light-bg-color: #1f2937;
}

.login-form {
  max-width: 400px;
  margin: 10rem auto;
  padding: 7rem 5rem;
  background-color: var(--light-main-content-bg);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form.dark {
  background-color: var(--dark-content-bg);
  color: var(--dark-main-content-color);
}

.login-form.light {
  background-color: var(--light-main-content-bg);
  color: var(--light-main-content-color);
}

.login-form input[type='email'],
.login-form input[type='password'],
.login-form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.login-form input[type='email'],
.login-form input[type='password'] {
  background-color: var(--light-content-bg);
  color: var(--light-text-color);
}

.login-form.dark input[type='email'],
.login-form.dark input[type='password'] {
  background-color: var(--dark-content-bg);
  color: var(--dark-text-color);
}

.login-form button {
  background-color: var(--button-light-bg-color);
  color: var(--light-text-color);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.login-form.dark button {
  background-color: var(--button-dark-bg-color);
  color: var(--dark-text-color);
}

.login-form button:hover {
  background-color: var(--button-hover-light-bg-color);
}

.login-form.dark button:hover {
  background-color: var(--button-hover-dark-bg-color);
}

.login-form p {
  text-align: center;
  margin-top: 1rem;
}

.login-form p a {
  color: #60a5fa;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}
