.navbar {
  background-color: #1f2937; /* Dark blue-gray background */
  /* border-radius: 0.5rem; Rounded corners */
  padding: 1.5rem 1rem; /* Padding inside the navbar */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
}

.company-name {
  color: #ffffff; /* Light blue text color */
  font-family: 'Poppins', sans-serif; /* Poppins font */

  font-size: 1.2rem; /* Font size */
  margin-left: 10px;
  
}

.nav-links {
  display: flex;
}

.navbar-nav {
  list-style: none;
  display: flex;

  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 0.5rem; /* Margin between nav items */
}

.nav-link {
  color: #ffffff; /* White text color */
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Poppins font */
  font-size: 1rem; /* Font size */
  padding: 0.5rem 1rem; /* Padding inside the link */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.nav-link:hover,
.nav-link:focus {
  background-color: #374151; /* Darker background on hover/focus */
  color: #60a5fa; /* Light blue text color on hover/focus */
  border-radius: 0.25rem; /* Slightly rounded corners */
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start;
  }

  .nav-item {
    margin: 0.5rem 0; /* Margin between nav items on small screens */
  }

  .company-name {
    margin-bottom: 1rem; /* Margin below the company name on small screens */
  }
}
