.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

#sidebar {
  width: 200px; /* Set the sidebar width */
  background-color: #263043;
  color: #9e9ea4;
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
  height: 100vh; /* Ensure the sidebar takes full height */
  overflow-y: auto; /* Add scroll if the content exceeds viewport height */
  position: fixed; /* Keep the sidebar fixed */
  left: 0; /* Position on the left side */
  top: 0; /* Start from the top */
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-link {
  text-decoration: none;
  color: #9e9ea4;
}
