.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f3f4f6; /* Light gray background */
    font-family: 'Poppins', sans-serif; /* Poppins font */
  }
  
  .dashboard-container h1 {
    font-size: 2rem; /* Font size for the greeting */
    color: #1f2937; /* Dark blue-gray color */
    text-align: center; /* Centered text */
  }
  